<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}">
<title>ログイン</title>
</head>
<body>
    <div class="container">
        <h1 class="my-3">ログイン</h1>
        <hr>
        <!--/* ログインエラー時にメッセージを表示 */-->
        <div th:if="${param.error}" class="alert alert-danger">
            名前またはパスワードが正しくありません
        </div>
        <form th:action="@{/login}" method="post">
            <table class="table table-bordered col-md-6">
            <tr class="form-group">
                <th class="align-middle">名前</th>
                <td><input type="text" class="form-controll" name="username"></td>
            </tr>
            <tr class="form-group">
                <th class="align-middle">パスワード</th>
                <td><input type="text" class="form-controll" name="password"></td>
            </tr>
            </table>
            <div>
                <input type="submit" class="btn btn-primary" value="ログイン">
            </div>
        </form>
    </div>
    <script src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
</body>
</html>