@media screen and (max-width: 767px) {
    .header {
        width: 300px;
    }

    .left {
        width: 100px;
    }

    .right {
        width: 200px;
    }

    .center {
        width: 125px;
    }

    .top {
        width: 125px;
    }

    .right-top {
        width: 75px;
    }

    .bottom-right {
        width: 200px;
    }

    .footer {
        width: 300px;
    }
}

@media screen and (max-width: 479px) {
    .header {
        width: 150px;
    }

    .main {
        height: 450px;
    }

    .left {
        height: 100px;
        width: 150px;
    }

    .center {
        width: 150px;
    }

    .top {
        width: 150px;
    }

    .right-top {
        height: 100px;
        width: 150px;
        float: left;
    }

    .bottom-right {
        width: 150px;
    }

    .footer {
        height: 100px;
        width: 150px;
    }
}